<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">

  <title>My App</title>  

  

  
  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="bower_components/jquery-ui/ui/jquery.ui.core.js"></script>
  <!--<script type="text/javascript" src="bower_components/jquery-ui/ui/jquery.ui.datepicker.js"></script>

  <script src="lib/datetimepicker/jquery.datetimepicker.js"></script>


  <!--<link rel="stylesheet" type="text/css" href="lib/datetimepicker/jquery.datetimepicker.css"/ >-->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/angular-bootstrap-datetimepicker/src/css/datetimepicker.css"/>

  <script type="text/javascript" src="bower_components/moment/moment.js"></script>
  <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>

  <link rel="stylesheet" href="lib/onsen/css/onsenui.css">  
  <link rel="stylesheet" href="styles/app.css"/>
  <link rel="stylesheet" href="styles/onsen-css-components.css">  
<!--  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">  -->
  
  <!--<script src="lib/onsen/js/angular/angular.js"></script>    -->
  <script src="lib/onsen/js/onsenui.js"></script>    

  <!--<script src="cordova.js"></script>  -->
  <script src="js/app.js"></script>  
  <script>
    ons.ready(function() {
    });
  </script>
  jQuery('#picker').datetimepicker({
  format:'d.m.Y H:i',
  inline:true,
  lang:'ru'
  });
  <script>
    
  </script>
  
  <style>
    .item {
      padding: 10px;
      line-height: 1;
    }
    .item-thum {
    background-color: #ccc;
      width: 50px;
      height: 50px;
      border-radius: 4px;
    }

    .item-thum .img {
      width: 50px;
      height: 50px;
    }

    .item-title {
      font-size: 15px;
      font-weight: 500;
    }

    .item-shop {
      font-size: 14px;
      color: #666;
      line-height: 1.3;
      margin: 4px 0 0 0;
      padding: 0 30px 0 0;
    }
    .item-label {
      font-size: 12px;
      color: #999;
      float: right;
    }
    
    .item-stars{
     font-size: 12px;
     color: #ccc;
     text-align: center;
    display:inline-block;
    }

  </style>
</head>

<body ng-controller="AppController">    

  <ons-navigator>
    <ons-page>
      <ons-toolbar>
        <div class="center">Barbers</div>
      </ons-toolbar>

      <ons-list ng-controller="MasterController">
        <ons-list-item modifier="chevron" class="item" ng-repeat="item in items" ng-click="showDetail($index)">
          <ons-row>
            <ons-col width="60px"> 
              <div class="item-thum"><img ng-src="{{item.avatar}}"/></div>
            </ons-col>
            <ons-col>
              <header>
                <span class="item-title">{{item.fname + " " + item.lname}}</span>
		<div class="item-stars">
		  <i class="fa fa-star" ng-repeat="x in getTimes(item.rating) track by $index"></i>
		</div>
              </header>
              <p class="item-shop">{{item.shop_name}}</p>
            </ons-col>
          </ons-row>                          
        </ons-list-item>
      </ons-list>
    </ons-page>
  </ons-navigator>

  <ons-template id="detail.html">
    <ons-page ng-controller="DetailController">
      
      <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">{{item.fname + " " + item.lname}}</div>
      </ons-toolbar>

      <ons-list modifier="inset" style="margin-top: 10px">
        <ons-list-item class="item">
          <ons-row>
            <ons-col width="60px"> 
              <div class="item-thum"></div>
            </ons-col>
            <ons-col>
              <header>
                <span class="item-title"><h1>{{item.fname + " " + item.lname}}</h1></span>
		
		<div class="item-stars">
		  <i class="fa fa-star" ng-repeat="x in getTimes(item.rating) track by $index"></i>
		</div>
		<br>	
	      </header>
              <p class="item-desc">{{item.desc}}</p>
            </ons-col>
          </ons-row>
        </ons-list-item>
      
      
	<ons-list-item modifier="chevron" ng-click="makeAppointment()">
	  <ons-icon icon="fa fa-calendar" fixed-width="true" style="color: #ccc"></ons-icon>
          Schedule an appointment
	</ons-list-item>

	<ons-list-item modifier="chevron" ng-click="doSomething()">
	  <ons-icon icon="fa fa-map-marker" fixed-width="true" style="color: #ccc"></ons-icon>
          Find Shop
	</ons-list-item>
	
	<ons-list-item modifier="chevron" ng-click="showReviewForm()">
          <ons-icon icon="ion-chatboxes" fixed-width="true" style="color: #ccc"></ons-icon>
          Add a review
	</ons-list-item>

	
	<h4>Reviews</h4>
	<!-- Form to submit review -->
	<form name="reviewForm" ng-controller="ReviewController" ng-submit="addReview()" ng-hide="!showForm">
	  <fieldset class="form-group">
            <textarea ng-model="review.body" class="form-control" placeholder="Write a short review of the product..." title="Review"></textarea>
	    
	    <input ng-model="review.stars" type="text" class="form-control" value="5" placeholder="5" title="Stars" />
          </fieldset>
          <fieldset class="form-group">
            <input ng-model="review.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" />
          </fieldset>
          <fieldset class="form-group">
            <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
          </fieldset>
	</form>
		
	<ons-list-item class="item" ng-repeat="review in item.reviews">
          <!--<header>
              <span class="item-title">{{review.body}}</span>
          </header>-->

	  <blockquote>
            <strong>{{review.body}}</strong>
	    <br>
	    <div class="item-stars">
	      <i class="fa fa-star" ng-repeat=" star in getTimes(review.stars) track by $index"></i>
	    </div>
	    <br>
	    <cite class="clearfix">—{{review.author}}</cite>
          </blockquote>
	  
	  
          <!--<p class="item-desc">{{review.body}}</p>-->
	  
	</ons-list-item>
      </ons-list>      
      <br>      
    </ons-page>
  </ons-template>


  <ons-template id="appointment.html">
    <ons-page ng-controller="AppointmentController">
      
      <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">{{item.fname + " " + item.lname}}</div>
      </ons-toolbar>      
      

      <datetimepicker data-ng-model="day.date" data-datetimepicker-config="{ startView:'day', minView:'day' }" data-on-set-time="onDay-Set(day.date)" ></datetimepicker>
      <p>Selected Date: {{ day.date | date:'yyyy-MM-dd' }}</p>
            <p>Selected Date: {{ day.date}}</p>
      
    </ons-page>
  </ons-template>

  

  
    
</body>  
</html>
